*{
    padding: 0;
    margin: 0;
}
.border1{
    border: 1px solid gray;
}
.heg{
    height:100%;
}
.heg2{
    height: 6vh;
}
ul#log{
    list-style:none;
    width: fit-content;
    margin:30px auto 0;
}
ul#log li{
    display:inline;
}
.user{
    margin: 1.3rem 3rem;
}
.book{
    text-align: center;
    margin-top: 10%;
}
#book-list ul li p{
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0 5px;
}
.smloader {
    border: 5px solid grey;
    border-radius: 50%;
    border-top: 5px solid black;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#book-list ul li p:hover{
    color: #ff4a3d;
    border-bottom: 2px solid #ff4a3d;
}
/* #book-list ul li a:hover {
    color: #ff4a3d;
} */
.fa-user-circle{
    margin: 0;
}
#book-list ul{
    list-style-type: none;
    text-align: center;
}    
#book-list li{
    display: inline-block;
    font-family: system-ui;
}
.selecteda{
    border-bottom: 2px solid #ff4a3d;
    color: #ff4a3d;
}
.demo-img{
    margin: 8px auto;
    width: auto;
    height: 176px;
}
.demo-card{
    margin: 0px 10px;
    padding: 10px;
}
.card{
    border: none;
}
.shadow {
    -moz-box-shadow:    0px 0px 4px 0px #ccc;
    -webkit-box-shadow: 0px 0px 4px 0px #ccc;
    box-shadow:         0px 0px 4px 0px #ccc;
}
  
@media only screen and (max-width: 1199px) {
    .demo-img{
    width: auto;
    max-height: 146px;
    margin: 6px auto;
    }
}
@media only screen and (max-width: 991px) {
    .demo-img{
    width: auto;
    max-height: 106px;
    margin: 6px auto;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo{
        font-size:24px;
        margin: 0 auto;
    }
    #cards{
        margin: 0% 4%;
    }
    
}


