#imgpre{
    max-height: 350px;
}
.carousel-item img{
    width: auto;
    height: 350px;
    margin: auto;
}
.container1{
    width: 95%;
    min-height: 450px;
}
.col-sm-2 p{
    margin: 0;
    font-size: 14px;
}
.col-sm-2{
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgb(209, 209, 209);
    border: 1px solid rgb(207, 207, 207);
    padding: 1rem;
}
.info p{
    font-size: 14px;
}
#wl{
    width: 100%;
    color: white;
    border: none;
    background: rgb(255,170,170);
    background: linear-gradient(180deg, rgba(255,170,170,1) 0%, rgba(255,91,91,1) 100%);
}
#wl:hover{
    background: rgb(255,132,132);
    background: linear-gradient(180deg, rgba(255,132,132,1) 0%, rgba(255,69,69,1) 100%);
}
#imgv{
    width: auto;
    height: 14px;
}
#price h6{
    font-size: 15px;
    color: rgb(87, 87, 87);
}
#price h5{
    font-size: 18px;
    color: rgb(160, 0, 32);
}
#atc{
    border: none;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,197,2,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,227,177,1) 0%, rgba(53,142,255,1) 0%, rgba(255,213,73,1) 0%, rgba(254,136,0,1) 100%, rgba(0,108,255,1) 100%, rgba(214,162,0,1) 100%, rgba(255,193,2,1) 100%, rgba(255,146,190,1) 100%);
}
#atc:hover{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,197,2,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,227,177,1) 0%, rgba(53,142,255,1) 0%, rgba(255,213,73,1) 0%, rgba(255,198,17,1) 1%, rgba(254,136,0,1) 100%, rgba(0,108,255,1) 100%, rgba(214,162,0,1) 100%, rgba(255,193,2,1) 100%, rgba(255,146,190,1) 100%);
}